/* global */
@import "bootstrap.custom.scss";

/*#region CSS functions in sass */
@function cssmax($numbers...) {
    @return m#{a}x(#{$numbers});
}

@function cssmin($numbers...) {
    @return m#{i}n(#{$numbers});
}
/*#endregion */

/*#region fonts */
.f-roboto {
    font-family: 'Roboto Black';
    font-style: normal;
    font-weight: 900;
}

.f-gill {
    font-family: 'Gill Sans Nova';
    font-style: normal;
    font-weight: 250;
}

.f-gill-bold {
    font-family: 'Gill Sans Nova';
    font-style: normal;
    font-weight: max(300,800);
}

.f-montserrat {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
}

.f-arial {
    font-family: Arial;
    font-style: normal;
    font-weight: 200;
}

.f-arial-bold {
    font-family: Arial;
    font-style: normal;
    font-weight: 600;
}

.f-times-bold {
    font-weight: bold;
    font-family: 'Times New Roman';
    font-style: normal;
}
/*#endregion */

/*#region global html */

body {
    @extend .f-arial;

    font-size: 16px;
    margin: 0;
    padding: 0;
    letter-spacing: .1px;
    box-sizing: border-box;
    overflow-x: hidden;
}

h1 {
    @extend .f-arial-bold;
    font-size: 36px;
    line-height: 1.08349;
    letter-spacing: -.003em;
}


/*#endregion */

/*#region globale footer */

footer {
    @extend .bg-darkmetalblue;
    margin-top: 30px;
    font-size: 14px;
    line-height: 2;
}

footer, footer a {
    @extend .text-light;
}

a.footer_4 {
    font-size: 13px;
    font-weight:500;
}

.footer_slogo {
    @extend .f-arial-bold;
    font-size: 19px;
    letter-spacing:1.8px;
}

.footer_logo {
    margin-left: -2rem;
}

.copyright_p {
    font-size: 12px;
}

.f_social {
    @extend .text-primary;
    font-size: 1.6rem;
}

#copyright {
    @extend .text-white;
    @extend .bg-metalblue;

    display: flex;
    width: 100vw !important;
    justify-content: center;
    margin-bottom: 2px;
    text-align: center;
    font-size: 15px;
    align-items: center;
}

.address {
    line-height: 5px !important;
}


footer a:hover {
    @extend .text-primary;
    text-decoration: none;
}
/*#endregion */

/*#region globale header */

header, nav.navbar {
    max-height: 82px;
}

header, nav a {
    @extend .f-montserrat;
}

.navbar-nav {
    margin-left: auto;
}

.navbar-collapse.show form {
    margin-left: 15px !important;
}

.sidemenulink:hover {
    @extend .text-primary;
}

.sidemenulink {
    text-decoration: none !important;
}

#navLink a:hover {
    text-decoration: none !important;
    border-bottom: 3px solid #D88102;
    padding-bottom: 8px;
}

button#search_btn {
    @extend .text-dark;
    background: none;
    border: none;
}




/*#endregion */

/*#region  Home-page*/

#home_topbanner h1 {
    @extend .text-light;
}

#home_verhaal {
    font-size: 22px;
    display: flex;
    flex-direction: row;
}


#home_verhaal #section_0 h2 {
    @extend .f-times-bold;
    text-align: end;
    font-size: 39px;
}

#home_verhaal #section_0 strong {
    @extend .f-gill-bold;
    text-align: end;
}

#home_verhaal span {
    @extend .text-primary;
    font-weight: 400;
}

#home_verhaal #section_0 p {
    @extend .f-gill;
    text-align: end;
    margin-top: 15px;
}

#home_verhaal #section_1 strong {
    font-size: 21px;
    margin-top: 0.6rem;
}

#home_verhaal #section_1 p {
    font-size: 16px;
    margin-top: 0.6rem;
}

.home_kaarten button {
    margin-right: auto;
    box-shadow: -3px 3px 5px #ccc;
    border-radius: 8px;
}

.home_kaart h5 {
    @extend .f-gill-bold;
    font-size: 23px;
}


#home_verhaal h1 {
    font-size: 34px;
}

.home_productInleiding h2 {
    @extend .f-roboto;
    @extend .text-black;

    font-size: 45px;
    display: inline-block;
    padding-bottom: 15px;    
    text-shadow: -3px 3px 1px #ccc;
}

#home_blogBanner .col {
    background-color: rgba(255, 255, 255,0.8);
    position: absolute;
    top: 45%;
    left: 0%;
    width: 26%;
}

#home_blogBanner h1 {
    @extend .f-gill-bold;
    font-size: 38px;
    margin-bottom: 30px;
    padding-top:10px;
}
#home_blogBanner img {
    width: cssmax(45px, 4vw);
}

#home_blogBanner p {
    line-height: 1;
    padding-left: 5px;
    font-size: 20px;
}

#home_blogBanner div div div div {
    position: absolute;
    top: 170px;
    left: -6px;
}

#home_blogBanner a {
    @extend .f-gill-bold;
}

.home_kaarten {
    width: 90%;
    margin: auto;
}

#home_qmex h2 {
    @extend .f-arial-bold;
    font-size: 35px;
}

#home_qmex p {
    font-size: 17px;
    margin-right: 7rem;
}

/*#endregion*/



/*#region service-pagina */
.service_kaart button {
    margin-right: auto;
    box-shadow: -3px 3px 5px #ccc;
    border-radius: 8px;
}
/*#endregion*/

/*#region tussenpage */
.tussenpage_kaart img:hover {
    animation: shake 0.5s;
    animation-iteration-count: 3;
    animation-duration: 3s;
}

@keyframes shake {
    0% {
        transform: translate(1px, 1px) rotate(0deg);
    }

    30% {
        transform: translate(-6px, 0px) rotate(1deg);
    }

    50% {
        transform: translate(-3px, 3px) rotate(-1deg);
    }

    80% {
        transform: translate(-2px, -1px) rotate(1deg);
    }

    100% {
        transform: translate(1px, -3px) rotate(-2deg);
    }
}

/*#endregion*/

/*#region product showcase */


.productGallery .vmf_bottom {
    display: none;
}

#PS_VRFsysteem .CT_card h5 {
    @extend .f-gill-bold;
    font-size:25px;
}

#PS_VRFsysteem .CT_card a{
    @extend .text-primary;
    font-size:17px;
    font-weight:bold;
    text-shadow:2px 1px 1px #d7d7d7;  
}

#PS_VRFsysteem .card img {
    box-shadow: -8px 8px 8px #AAA;
    margin-top:2rem;
   }

#PS_VRFsysteem .card-body.card-img-overlay {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-size:14px;
    margin-top: auto;
    height: 25%;
}

.CT_card {
    flex: 0 0 50% !important;
    max-width: 50% !important;
}

#PS_Warmtepomp .productGallery a {
    @extend .bg-black;
    width:80%;
    border-radius: 8%;
    padding: 12px;
    font-weight: 700;
    display: block;
    text-align: center;
    font-size: 15px !important;
}



/*#endregion*/
/*faq*/
.btn_collapse:focus {
    outline:none;
}
