/* Bootstrap uitbreiding*/

.display-5 {
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 1.2;
}

.border-1 {
    border-width: 1px !important;
}

.border-2 {
    border-width: 2px !important;
}
.border-3 {
    border-width: 3px !important;
}

.border-4 {
    border-width: 4px !important;
}
.border-5 {
    border-width: 5px !important;
}

.flex-basis-1 {
    flex-basis: 100%;
}
.flex-basis-2 {
    flex-basis: 50%;
}
.flex-basis-3 {
    flex-basis: 33%;
}
.flex-basis-4 {
    flex-basis: 25%;
}
.flex-basis-5 {
    flex-basis: 20%;
}
.flex-basis-6 {
    flex-basis: 16%;
}

@media screen and (max-width: 768px) {
    .flex-basis-3 {
        flex-basis: 50%;
    }

    .flex-basis-4 {
        flex-basis: 50%;
    }

    .flex-basis-5 {
        flex-basis: 50%;
    }

    .flex-basis-6 {
        flex-basis: 50%;
    }
}

 h1 {
      font-size: 36px;
      line-height: 1.08349;
      font-weight: 600;
      letter-spacing: -.003em;
    }

/* globale footer */
html {
    background-color: #292929;
}

 footer {
        background-color:#364050;
        margin-top: 30px; 
        font-size:14px;
        line-height:2;
 }
   .footer_logo{
        margin-right:auto;
        margin-left:-3rem;
    }

    footer, footer a {
        color: #f4f4f4;
    }

  .copyright_p{
      font-size:12px;
  }

.footer_border {
    text-transform: upperCase;
    font-size: 18px;
}

.f_social{
    font-size:1.7rem;
    color:#D88102;
}

#copyright {
    display: flex;
    width: 100vw !important;
    justify-content: center;
    margin-bottom: 2px;
    text-align: center;
    font-size: 15px;
    color: white;
    background-color: #415b71;
    align-items: center;
}

.address{
    line-height:5px!important;
}

.footer_social img {
    width: 20px;
    margin: 8px;
}

footer a:hover {
    color: #f48c00 !important;
    text-decoration: none ;
}

/* globale header */
header, nav.navbar {
    max-height:82px;
}

header, nav a {
    font-family: Montserrat, "Helvetica Neue", sans-serif;
    font-weight:700;
}


.navbar-nav{
    margin-left:auto;
}

.navbar-collapse.show form {
    margin-left: 15px !important;
}

#hfLink :hover, .sidemenulink:hover{
    color: #D88102 !important;
}

#hfLink, .sidemenulink{
    text-decoration: none !important;
}

#navLink a:hover {
        text-decoration: none !important;
        border-bottom: 3px solid #D88102;
        padding-bottom: 8px;
    }


button#serch_btn {
    background:none;
    border: none;
    color:#555;
}

/*header*/
#hfLink img:hover {
    animation:shake 0.5s;
    animation-iteration-count:3;
    animation-duration:3s;
}
@keyframes shake{
    0% {transform: translate(1px, 1px) rotate(0deg);}
    30% {transform: translate(-6px, 0px) rotate(1deg);}
    50% {transform: translate(-3px, 3px) rotate(-1deg);}
    80% { transform: translate(-2px, -1px) rotate(1deg);}
    100% { transform: translate(1px, -3px) rotate(-2deg); }
}
/* sidemenu links */
.sidemenulink {
    color: black !important;
}

.sidemenulink:hover {
        color: #D88102 !important;
    }

.side_subtitle {
    font-weight: bold;
}

/* globale body */
body {
    font-family: Arial, Gill Sans Nova, Roboto,Times New Roman;
    font-size: 16px;
    color: #384950;
    font-weight: 200;
    margin: 0;
    padding: 0;
    letter-spacing: .1px;
    box-sizing: border-box;
    overflow-x: hidden;
}
    

/* home pagina */

#home_topbanner h2 {
    background:#f3994c;
    color: white;
    font-size: 21px;
    padding: 5px;
    display:inline-block;
}

#home_topbanner h1{
     color:#f4f4f4;
 }

#home_verhaal {
    font-size: 22px;
    display: flex;
    flex-direction:row;
}

    
#home_verhaal #section_0 h2 {
        text-align: end;
        font-weight: bold;
        font-family:Times New Roman;
        font-size: 39px;
    }

 #home_verhaal #section_0 strong {
        text-align: end;
        font-weight: 800;
        font-style: normal;
        font-family: 'Gill Sans Nova'
     
    }

#home_verhaal span {
        color: #D88102;
        font-weight: 400;
    }

#home_verhaal #section_0 p {
        text-align: end;
        margin-top: 15px;
        font-weight: 250;
        font-style: normal;
        font-family: 'Gill Sans Nova'
    }

 #home_verhaal #section_1 strong {
        font-size: 21px;
        margin-top:0.6rem;
    }

 #home_verhaal #section_1 p {
        font-size: 16px;
        margin-top: 0.6rem;
    }


.home_kaarten button, .service_kaart button {
    margin-right: auto;
    box-shadow: -3px 3px 5px #ccc;
    border-radius: 8px;
}

.home_kaart h5{
    font-weight:900;
}


#home_verhaal {
    animation-name:showVerhaal;
    animation-duration: 2s;
    animation-delay: 0.5s;
    animation-fill-mode:forwards;
}

#home_verhaal h1 {
    font-size:34px;
 }

.home_productInleiding h2 {
    font-size: 45px;
    font-family: 'Roboto';
    font-weight: 900;
    display: inline-block;
    padding-bottom: 15px;
    text-shadow: -3px 3px 1px #ccc;
}

#home_blogBanner .col {
    background-color: #ffffff;
    opacity: 0.8;
    position: absolute;
    top: 45%;
    left: 0%;
    width: 26%;   
}

#home_blogBanner h2 {
    font-weight: 900;
    color: #000000;
    font-size:48px;
    font-family: 'Gill Sans Nova';
    background-color: #ffffff;
}

#home_blogBanner p {
    line-height: 1;
    padding-left: 5px;
    color: #000000;
    font-size:20px;
    background-color: #ffffff;
}

#home_blogBanner div div div div {
    position:absolute;
    top: 190px;
    left: -6px;
}

#home_blogBanner a {
    font-weight: bold;
}


@keyframes showVerhaal {
    0% {
            bottom: -100px;
            color: white;
        }

        100% {
            bottom: 0px;
            color: black;
        }
    }

 .home_kaarten{
    width:90%;
    margin:auto;
}
.home_kaart h5 {
    font-family: 'Gill Sans Nova';
    font-size:23px;
}
.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#home_qmex h2 {
    font-weight: 900;
    font-family: 'Gill Sans Nova';
    font-size: 45px;
}

#home_qmex p {
    font-size: 18px;
    margin-right: 8rem;
    text-align: justify;
}


@keyframes hk_img {
    0% {transform: translate(0px, 0px) rotate(0deg); }
    30% {transform: translate(10px, 0px) rotate(0deg);}
    50% {transform: translate(0px, 0px) rotate(0deg);}
    80% {transform: translate(-10px, 0px) rotate(0deg);}
    100% {transform: translate(0px, 0px) rotate(0deg);}
}

/*product*/

#side_titel {
    font-family: 'Gill Sans Nova';   
}
.sidemenu_arrow{
    color:#f2f2f2;
    margin-left:-20px;
}
.sidemenulink span a {
    color: red;
    padding-right: 8px;
}

.btn_collapse {
    border-radius: 19px;
}

/*about pagina */
 #about_kaarten .card:hover, #contact_kaart:hover {
    background-color: #D88102;
    border: none;
}

 #about_kaarten h3{
    padding-top:15px;
    font-size:20px;
    font-weight:bold;
 }
#about_topverhaal h1 {
    text-align: center;
}

#about_sidefotos h2 {
    padding-top: 10px;
    display: inline-block;
}

#about_sidefotos p:hover{
box-shadow:1px 3px 5px rgba(0, 0, 0, 0.1);
}

#about_showcase #col-one div {
    border:none !important;
}

 #about_showcase #col-one  h2{
     padding-bottom:20px;
 }


/*product oneKaart*/
.oneKaart_btn a {
    text-decoration: none;
}

.oneKaart_btn button {
  text-align:center;
}

#productDetail_btn button{
    margin-left:30px; 
}

#productDetail_btn button:focus {
    outline: none !important;
}
    /*productie*/
 .production p {
        margin-left: 8px;
    }

/*about*/
#about_showcase h2{
color:#f48c00;

}
/*contact*/
#contact_kaart-one {
    background-color: #656464;
    position: relative;
    top: -120px;
    color:white;
}

#contact_kaart-two {
    background-color: #656464;
    position: relative;
    top: -120px;
    color: white;
}

#contact_kaart-three {
    background-color: #656464;
    position: relative;
    top: -120px;
    color: white;
}

.card-text h3 {
    font-size: 1.5rem;
}



 #contact_kaart-one:hover, #contact_kaart-two:hover, #contact_kaart-three:hover {
        background: #D88102;
    }
/*services*/
#service_kaarten .service_kaart:hover, .tussenpage_kaarten .tussenpage_kaart:hover, .home_kaart:hover {
    transform: scale(1.02);
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}
/*faq*/
.faq_banner {
    background-image: linear-gradient(to bottom right,#f4f4f4,rgba(255,0,0,0), #f48c00);
}
/*tussenpage*/
.tussenpage_kaarten button{
    background:black !important;
    outline:none;
    width:60%;
    border-radius:8%;
    margin:auto;
    padding:8px;
    margin-top:15px;
    font-weight:500;
    font-size:12px;
}

.tussenpage_kaarten .card{
   margin-bottom:15px !important;

}
.tussenpage_kaarten .card h2 {
    font-weight: 700;
    font-family: Arial;
}
.tussenpage_kaarten p{
    width:80%;
    margin:auto;
}
.tussenpage_kaarten img.card-img-top {
    margin: auto;
    width: 300px;
}


@media screen and (max-width: 1560px) {
    #home_blogBanner h2 {
        font-size: 40px;
    }
    #home_blogBanner p {
        font-size: 16px;
    }

    #home_blogBanner .col {
        width: 30%;
    }
}
@media screen and (max-width: 1200px) {  /* xl */

    #home_blogBanner div div div div {
        top: 170px;
    }

    #home_blogBanner .col {
        top: 35%;
        width: 36%;
    }
}
@media screen and (max-width: 1040px) {
    #home_blogBanner h2 {
        font-size: 35px;
    }

    #home_blogBanner p {
        font-size: 14px;
    }

    #home_blogBanner div div div div {
        top: 150px;
    }

}
@media screen and (max-width: 992px) {  /* lg */
        #home_blogBanner .col {
            top: 25%;
            width: 40%;
        }
        #home_blogBanner div div div div {
            top: 140px;
        }

        .header_logo {
            width: 160px;
        }

        #navLink a {
            font-size: 12px;
        }

            #navLink a:hover {
                text-decoration: none !important;
                color: #f48c00 !important;
                border-bottom: 0px;
                font-size: 12px;
                margin: 0px 0px;
            }

        input.form-control {
            margin-bottom: 10px;
        }

        #home_topbanner h1 {
            font-size: 38px;
        }

        .home_news #col-one {
            text-align: center;
        }

        .home_news #col-one a {
                margin: auto;
            }

        #home_verhaal #section_0 h2 {
            text-align: center;
        }
  
        #home_verhaal #section_0 p {
            text-align: center;
        }
       
    }
@media screen and (max-width: 768px) { /* md */
    #home_blogBanner .col {
        top: 20%;
        width: 50%;
    }


}
@media screen and (max-width: 576px) { /* sm */
        .footer_social {
            margin-top: 1.8rem;
        }

        .navbar-brand {
        }

          .navbar-brand .header_logo {
                margin-left: auto;
            }

        #home_blogBanner .col {
            width: 50%;
            top: 20%;
            text-align: center;
        }

        #home_blogBanner h2 {
            font-size: 18px;
        }

        #home_blogBanner p {
            font-size: 15px;
            display: inline;
        }

        #home_verhaal #section_1, #home_verhaal #section_0 {
            flex-basis: 100%;
            display:flex;
        }


        #home_blogBanner {
            position: relative;
        }

            #home_blogBanner .col {
            }

            #home_blogBanner h2 {
            }

            #home_blogBanner p {
            }

    .f_support {
        margin-top: -18px;
    }
   
    }



    



 