/* Bootstrap uitbreiding*/

.display-5 {
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 1.2;
}

.border-1 {
    border-width: 1px !important;
}

.border-2 {
    border-width: 2px !important;
}
.border-3 {
    border-width: 3px !important;
}

.border-4 {
    border-width: 4px !important;
}
.border-5 {
    border-width: 5px !important;
}

.flex-basis-1 {
    flex-basis: 100%;
}
.flex-basis-2 {
    flex-basis: 50%;
}
.flex-basis-3 {
    flex-basis: 33%;
}
.flex-basis-4 {
    flex-basis: 25%;
}
.flex-basis-5 {
    flex-basis: 20%;
}
.flex-basis-6 {
    flex-basis: 16%;
}

@media screen and (max-width: 768px) {
    .flex-basis-3 {
        flex-basis: 50%;
    }

    .flex-basis-4 {
        flex-basis: 50%;
    }

    .flex-basis-5 {
        flex-basis: 50%;
    }

    .flex-basis-6 {
        flex-basis: 50%;
    }
}

    h1 {
        font-size: 36px;
        line-height: 1.08349;
        font-weight: 600;
        letter-spacing: -.003em;
    }


    /* globale footer */
    footer {
        width: 100%;
        background-color: rgb(240,240,240);
        margin-top: 70px;
    }

        footer p {
            display: block;
            margin-top: 40px;
            text-align: center;
            font-size: x-small;
            padding-bottom: 10px;
        }


.footer_social img {
    width: 30px;
    margin: 10px;
}  

    /* globale header */
    header, nav.navbar {
        height: 130px;
    }

    .navbar-collapse.show form {
        margin-left: 15px !important;
    }

    #navLink:hover, #hfLink:hover {
        text-decoration: none !important;
    }


    /* globale body */
    body {
        font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
        font-size: 18px;
        line-height: 1.6;
        font-weight: 400;
        letter-spacing: .011em;
    }

    /* home pagina */
    .home_kaarten .card-img-top {
        height: 96px;
        width: 96px;
        margin: 2rem auto;
        display: block;
    }

    /* service pagina */
    #service_kaarten button:hover a, .contactForm_button:hover {
        color: #555;
        outline: none;
        text-decoration: none;
    }

    #service_kaarten button a, homeTweedeBanner a {
        text-decoration: none;
        color: #f4f4f4;
    }


    /*contact*/
    .contactForm_button:hover {
        color: #f4f4f4;
        background: #555;
        text-decoration: none;
        outline: none;
    }

    #ProductDetail_btn button {
        margin-left: 2rem;
        margin-top: 1rem;
    }

@media screen and (max-width: 576px) {
    .footer_social {
        margin-top: 3rem;
    }
}

@media screen and (max-width:900px){
    .header_logo {
    height:200px;
    width:200px;
    }

}