/* Bootstrap uitbreiding*/

.display-5 {
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 1.2;
}

.border-1 {
    border-width: 1px !important;
}

.border-2 {
    border-width: 2px !important;
}
.border-3 {
    border-width: 3px !important;
}

.border-4 {
    border-width: 4px !important;
}
.border-5 {
    border-width: 5px !important;
}

.flex-basis-1 {
    flex-basis: 100%;
}
.flex-basis-2 {
    flex-basis: 50%;
}
.flex-basis-3 {
    flex-basis: 33%;
}
.flex-basis-4 {
    flex-basis: 25%;
}
.flex-basis-5 {
    flex-basis: 20%;
}
.flex-basis-6 {
    flex-basis: 16%;
}

@media screen and (max-width: 768px) {
    .flex-basis-3 {
        flex-basis: 50%;
    }

    .flex-basis-4 {
        flex-basis: 50%;
    }

    .flex-basis-5 {
        flex-basis: 50%;
    }

    .flex-basis-6 {
        flex-basis: 50%;
    }
}

 h1 {
      font-size: 36px;
      line-height: 1.08349;
      font-weight: 600;
      letter-spacing: -.003em;
    }


/* globale footer */
 footer {
        width: 100%;
        background-color:#292929;
        margin-top: 70px;
        font-size:21px;
    }

 footer a {
        color: #f4f4f4;
    }

 footer p {
         display: block;
         margin-top: 40px;
         text-align: center;
         font-size: x-small;
         padding-bottom: 10px;
        }


.footer_social img {
    width: 30px;
    margin: 10px;
}

footer a:hover {
    color: #f48c00 !important;
    text-decoration: none ;
}

/* globale header */
header, nav.navbar {
    max-height: 120px;
}

.navbar-collapse.show form {
        margin-left: 15px !important;
    }

#hfLink :hover, .sidemenulink:hover{
    color: #f48c00 !important;
}

#hfLink, .sidemenulink{
    text-decoration: none !important;
}

#navLink a:hover {
        text-decoration: none !important;
        border-bottom: 4px solid #f48c00;
        padding-bottom: 8px;
    }



button#serch_btn {
    background:none;
    border: none;
    color:#555;
}


/*header*/
#hfLink img:hover {
    animation:shake 0.5s;
    animation-iteration-count:3;
    animation-duration:3s;
}
@keyframes shake{
    0% {transform: translate(1px, 1px) rotate(0deg);}
    30% {transform: translate(-6px, 0px) rotate(1deg);}
    50% {transform: translate(-3px, 3px) rotate(-1deg);}
    80% { transform: translate(-2px, -1px) rotate(1deg);}
    100% { transform: translate(1px, -3px) rotate(-2deg); }
}
/* sidemenu links */
.sidemenulink {
    color: black !important;
}

 .sidemenulink:hover {
        color: #f48c00 !important;
    }

.side_subtitle {
    font-weight: bold;
}

/* globale body */
body {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: #384950;
    font-weight: 400;
    letter-spacing: .011em;
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    overflow-x:hidden;
}

/* home pagina */
#home_waarden .card-img-top{
    height:auto;
    width:89px;
    padding-bottom:20px;
}

#kaart_0 .card {
    background-color: #f4f5f8;
}
#kaart_1 .card {
    background-color: #f4f8f3;
}

#kaart_2 .card{
    background-color: #e3e5e6;
}

#home_waarden .card:hover, #contactInfo .border:hover {
    background-color: #f48c00;
}

#homeTweedeBanner .col-md-6:nth-child(1) {
    background-color: #f3f3f3;
}

#home_verhaal {
    animation-name: showVerhaal;
    animation-duration: 2s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
}

#home_verhaal h1 {
        font-size:48px;
    }

@keyframes showVerhaal {
    0% {bottom: -100px; color: white;}
    100% { bottom: 0px; color: black;}
}

.home_kaarten{
    width:90%;
    margin:auto;
}
.home_kaarten .card-img-top, .tussenpage_kaarten .card-img-top {
    height: 238px;
    width: 348px;
    margin: auto;
    padding: 10px;
    overflow: hidden;
}

.home_kaarten .card-img-top:hover {
        animation-name: hk_img;
        animation-duration: 0.6s;
        animation-timing-function: linear;
        animation-iteration-count: 1;
    }

@keyframes hk_img {
    0% {transform: translate(0px, 0px) rotate(0deg); }
    30% {transform: translate(10px, 0px) rotate(0deg);}
    50% {transform: translate(0px, 0px) rotate(0deg);}
    80% {transform: translate(-10px, 0px) rotate(0deg); }
    100% {transform: translate(0px, 0px) rotate(0deg);}
}


/*product*/
#tussenpage_verhaal{
    font-size:20px !important;
}

.btn_collapse {
    border-radius: 19px;
}

/*about pagina */
#aboutKaart:hover, #about_kaarten .card:hover, #contact_kaart:hover {
    background-color: #f48c00;
    border: none;
}
#about_topverhaal h1 {
    text-align: center;
}

#about_sidefotos h2 {
    border-top: #f48c00 solid 4px;
    padding-top: 10px;
    display: inline-block;
}

#about_sidefotos p:hover{
box-shadow:1px 3px 5px rgba(0, 0, 0, 0.1);
}

 /*product oneKaart*/
.oneKaart_btn a {
        text-decoration: none;
    }

.oneKaart_btn button {
  text-align:center;
}

.productDetail_btn button{
    margin-left:30px;
}

/*productie*/
.production p {
    margin-left:8px;
}

/*about*/
#about_topbanner {
 filter: grayscale(500%);
}

/*services*/
#service_kaarten .service_kaart:hover, .tussenpage_kaarten .tussenpage_kaart:hover {
    transform: scale(1.02);
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}
/*faq*/
.faq_banner {
    background-image: linear-gradient(to bottom right,#f4f4f4,rgba(255,0,0,0), #f48c00);
}

@media screen and (max-width: 576px) {
    .footer_social {
        margin-top: 3rem;
    }
}

@media screen and (max-width:976px){
    .header_logo ,.footer_logo {
        width: 160px;
    }

    #navLink a:hover {
        text-decoration: none !important;
        color: #f48c00 !important;
        border-bottom: 0px;
        padding-bottom: 8px;
    }

    input.form-control {
        margin-bottom: 10px;
    }
}

@media screen and (max-width:1381px) {
    #navLink a {
        font-size:18px; 
        margin: 0 10px !important;
    }
   
    .header_logo {
        width: 160px;
    }
               
}
 